header#header { background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 18%,rgba(0,0,0,0.32) 100%);}
header span.inner{ display: none; }

  header nav a.active {
    font-weight: bold;
    color :#666;
    padding: 10px;
    margin-right: 10px;
    border: solid 1px #dee2e6;
    border-bottom: solid 1px #fff;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
  }
  header {
    box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    height: 82px;
    overflow: hidden;

    margin-bottom: 0 !important;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 90%,rgba(234,234,234,1) 100%);
  }
  #navMenu {
    display: flex;
    margin-top: 52px !important;
    padding-left: 30px;
  }

  header nav a {
    font-size: 1.2em;
    border-radius: .25rem .25rem 0 0;
    margin-right: 10px;
    padding: 10px;
  }
  header nav li {
    list-style: none;
  }
  header nav a:hover {
    background-color: rgba(234,234,234,1);

  }
  header nav li a:hover {
    text-decoration: none;
  }
main section{
  padding: 35px;
}

.Inconsolata{
    font-family: 'Inconsolata', monospace;
}
table tbody tr{
  cursor: pointer;
}
table tbody tr:hover,.modal-header,.modal-footer{
  background-color: #eee;
}
i { width: 20px; display: inline-block;}
select#objSelect{ font-size: 18px; font-family: 'Inconsolata'}
#output{ padding: 25px; box-shadow: 0px 0px 5px #ccc; margin-bottom:10px; }
.number { color: 'red' }
.key { color: 'purple' }
.string { color: 'green' }
.CodeMirror{
  font-size: large;


}
.hover:hover {
  background-color: #eee;
}
.pointer {
  cursor: pointer;
}
