<div id="try_it_out">
  <h2></h2>
  <div class="content">

  </div>
  <div id="output">
    <code>//Output</code>
  </div>
  <div id="editorSuggest">
    
  </div>
  <textarea class="code" style="height:225px;">
    /* Type some code & hit Execute to run code
    * Some examples;
    * application.route() // returns current route
    * application.object // returns application object
    */
  </textarea>
  <button class="btn btn-primary" id="executeBtn">Execute</button>

</div>
